<section class='tab tiles {{tab.cssClass}}' data-group='primary' data-tab='tiles' style="overflow-y: scroll;">
  <hr>
  <fieldset>
    <legend>Generelle Kacheln</legend>
    <label for="scriptoriumTileTag">Tag für Scriptorium Logo</label>
    <input type="text" name="scriptoriumTileTag" id="scriptoriumTileTag" value="{{tags.tiles.scriptoriumTileTag}}">
    <label for="frameTileTag">Tag für den Kartenrahmen</label>
    <input type="text" name="frameTileTag" id="frameTileTag" value="{{tags.tiles.frameTileTag}}">
  </fieldset>
  <fieldset>
    <legend>Zusätzliche Kacheln</legend>
    {{#each tags.tiles.scenicTiles as |scenicTile|}}
    <fieldset>
      <legend>{{scenicTile.tag}}</legend>
      <label for="scenicTile{{scenicTile.icon}}Icon">FontAwesome - Icon</label>
      <input type="text" name="scenicTile{{scenicTile.icon}}Icon" id="scenicTile{{scenicTile.icon}}Icon" value="{{scenicTile.icon}}">
      <label for="scenicTile{{scenicTile.tag}}Tag">Tag/Label - Leer zum löschen</label>
      <input type="text" name="scenicTile{{scenicTile.tag}}Tag" id="scenicTile{{scenicTile.tag}}Tag" placeholder="{{scenicTile.tag}} Löschen" value="{{scenicTile.tag}}">
    </fieldset>
    {{/each}} 
    <hr>
    <fieldset>
      <legend>Neue Kachel hinzufügen</legend>
      <label for="newScenicTileIcon">FontAwesome - Icon</label>
      <input type="text" class="newTag" name="newScenicTileIcon" id="newScenicTileIcon" placeholder="Icon" value="fa-regular fa-cube">
      <label for="newScenicTileTag">Tag/Label</label>
      <input type="text" class="newTag" name="newScenicTileTag" id="newScenicTileTag" placeholder="Kachel Tag">
    </fieldset>
  </fieldset>
</section>

<!--
{
    "scriptoriumTileTag": "Scriptorium",
    "frameTileTag": "Frame",
    "scenicTiles": [
        {
            "tag": "Kampfarena - Baustelle",
            "icon": "fa-regular fa-person-digging"
        }
    ]
}
