<section class='tab lights {{tab.cssClass}}' data-group='primary' data-tab='lights' style="overflow-y: scroll;">
  <hr>
  <fieldset>
    <legend>Generelle Lichter</legend>
    <label for="lanternTag">Tag für Laternen</label>
    <input type="text" name="lanternTag" id="lanternTag" value="{{tags.lights.lanternTag}}">
    <label for="citywallTag">Tag der Stadtmauer</label>
    <input type="text" name="citywallTag" id="citywallTag" value="{{tags.lights.citywallTag}}">
    <label for="residenceTag">Tag der Wohnhäuser</label>
    <input type="text" name="residenceTag" id="residenceTag" value="{{tags.lights.residenceTag}}">
  </fieldset>
  <fieldset>
    <legend>Zusätzliche Lichter</legend>
    {{#each tags.lights.scenicLights as |scenicLight|}}
    <fieldset>
      <legend>{{scenicLight.tag}}</legend>
      <label for="scenicLight{{scenicLight.icon}}Icon">FontAwesome - Icon</label>
      <input type="text" name="scenicLight{{scenicLight.icon}}Icon" id="scenicLight{{scenicLight.icon}}Icon" value="{{scenicLight.icon}}">
      <label for="scenicLight{{scenicLight.tag}}Tag">Tag/Label - Leer zum löschen</label>
      <input type="text" name="scenicLight{{scenicLight.tag}}Tag" id="scenicLight{{scenicLight.tag}}Tag" placeholder="{{scenicLight.tag}} Löschen" value="{{scenicLight.tag}}">
    </fieldset>
    {{/each}} 
    <hr>
    <fieldset>
      <legend>Neues Licht hinzufügen</legend>
      <label for="newScenicLightIcon">FontAwesome - Icon</label>
      <input type="text" class="newTag" name="newScenicLightIcon" id="newScenicLightIcon" placeholder="Icon" value="fa-regular fa-lightbulb">
      <label for="newScenicLightTag">Tag/Label</label>
      <input type="text" class="newTag" name="newScenicLightTag" id="newScenicLightTag" placeholder="Lichter Tag">
    </fieldset>
  </fieldset>
  <fieldset>
    <legend>Stadtteile</legend>
    {{#each tags.lights.districtTags as |districtTag|}}
    <input type="text" name="districtTags" id="districtTags" placeholder="{{districtTag}} Löschen" value="{{districtTag}}">
    {{/each}}
    <hr>
    <input type="text" class="newTag" name="districtTags" id="districtTags" placeholder="Stadtteil hinzufügen">
  </fieldset>
  <fieldset>
    <legend>Stadtteil-Lichter</legend>
  {{#each tags.lights.specialTagsbyDistricts}}
    <fieldset> 
      <legend>{{@key}}</legend>
      {{#each this as |tag|}}
      <input type="text" name="specialTags{{@../key}}{{tag}}" id="specialTags{{@../key}}{{tag}}" placeholder="{{tag}} Löschen" value="{{tag}}">
      {{/each}}
      <hr>
      <input type="text" class="newTag" name="specialTags{{@../key}}newTag" id="specialTags{{@../key}}newTag" placeholder="Licht zu {{@key}} hinzufügen">
    </fieldset>
  {{/each}}
  </fieldset>
</section>


<!--
{
"lanternTag": "Laterne",
"residenceTag": "Wohnhaus",
"districtTags": [
"Alt-Angbar",
"Barschensee",
"Neue Bastey",
"Neumarkt",
"Fürstenufer",
"Heimeling",
"Inglut",
"Kruming"
],
"specialTagsbyDistricts": {
"Alt-Angbar": [
"Alter Borontempel",
"Halle der Kämpfer",
"Schänke Brauhaus",
"Tempel des ehrbaren Handels",
"Tempel der weisen Lehre",
"Türmerhaus",
"Wirtshaus Galoschs Steinerweicher",
"Zitadelle"
],
"Barschensee": [
"Meister-Aldur-Spital",
"Tante Goswines Waisenhaus",
"Traviatempel",
"Grevenhof"
],
"Neue Bastey": [
"Bordell 'Torhaus'"
],
"Neumarkt": [
"Eberwulfshof",
"Haus der Zünfte",
"Hotel Haus Sirbensack",
"Patriarchenpalais / Neue Vogtei",
"Tempel des Götterfürsten"
],
"Fürstenufer": [
"Neues Theater",
"Schloss Thalessia"
],
"Heimeling": [
"Gaststuben Aventuriens"
],
"Inglut": [
"Horwyns Hort",
"Hammerwerk des Grawallosch",
"Kristallkabinett",
"Minen",
"Platz des Feuers",
"Schlosser Bolzer Drosselstein",
"Talerburg",
"Tempel der ewigen Flamme"
],
"Kruming": [
"Angbarer Puppenbühne"
]
},
"scenicLights": [
{
"tag": "Boot",
"icon": "fa-regular fa-sailboat"
},
{
"tag": "Platz des Feuers",
"icon": "fa-regular fa-fire-flame-curved"
}
],
"citywallTag": "Mauer"
}
