<form>
  <div class="form-group">
    <span style="min-width: 100px;">Alle Lichter</span>
    <button type="button" onclick="lyynixMapMenu.setAll(true)">On</button>
    <button type="button" onclick="lyynixMapMenu.setAll(false)">Off</button>
  </div>
  {{#each districts as |district|}}
  {{#if district.tags}}
  <fieldset>
    <legend>{{district.name}}</legend>
    {{#each district.tags as |tag|}}
    <div class="form-group">
      <span style="min-width: 100px;">{{tag}}</span>
      <button type="button" onclick="lyynixMapMenu.setByTag('{{escape tag}}', true)">On</button>
      <button type="button" onclick="lyynixMapMenu.setByChance('{{escape tag}}', 0.5)">50%</button>
      <button type="button" onclick="lyynixMapMenu.setByTag('{{escape tag}}', false)">Off</button>
    </div>
    {{/each}}
  </fieldset>
  {{/if}}
  {{/each}}
</form>
